
/* imports recursos */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Carattere', cursive; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    scroll-behavior: smooth;
    font-weight: bold;
    /* background-color: #D3C94F; */
  }
  
  body {
    height: 100vh;
    width: 100%;
  }
  
  .logo img{
    height: 90px;
    width: 100%;
  }
  
  nav {
    height: 115px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center; 
    background: #2E574F;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  .navbar {
    text-align: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .nav-menu li {
    list-style: none;
    padding: 20px;
  }
  
  .nav-menu {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  
  a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    transition: 0.5s;
  }
  
  a.nav-link:hover {
    color: #D3C94F;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar,

  .fa-times {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    transition: 0.5s;
    background-color: #fff;
  }
  
  .bar:nth-child(1) {
    width: 300%;
  }
  
  .bar:nth-child(2) {
    width: 300%;
  }
  
  .bar:nth-child(3) {
    width: 300%;
  }

  .principal{
    width: 100%;
    height: 100%;
    background: url(../img/fondo-yBFszDnxl-transformed.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: brightness(70%); */
  }

  .principal h1{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: auto;
    font-family:'Carattere', cursive;
    font-weight: 500;
    font-size: 128px;
    color: #fff;
    /* background-color: aqua; */
  }


  
  .principal p{
    position: absolute;
    top: 50%;
    left: 40%;
    right: 15%;
    font-size: 24px;
    text-align: justify;
    color: #fff;
    width: 50%;
    height: auto;
    /* background-color: aqua; */
  }

  .principal .btn_registro, .principal .btn_ingreso{
    width: 186px;
    height: 64px;
    font-size: 18px;
    color: #000;
    background-color: #d3c84f81;
    border-radius: 10px;
    border-style: none;
    display: block;
    margin: 100px 0px 10px 15px;
    float: right;
  }
  .principal .btn_registro {
    margin-right: 132px;
  }



  
  @media (max-width: 800px) {
    .hamburger {
      display: block;
    }
    .active .bar:nth-child(2) {
      opacity: 0;
    }
    .active .bar:nth-child(1) {
      transform: translateY(8px) rotate(-315deg);
      width: 300%;
    }
    .active .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
      width: 300%;
    }
    .nav-menu {
      width: 100%;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 115px;
      right: -100%;
      transition: 0.5s;
      margin: 0 auto;
      background-color: #D3C94F;
    }
  
    .nav-menu li {
      padding: 1rem 0;
    }
  
    a.nav-link {
      margin: 1rem 0;
      color: #000;
      z-index: 1;
    }
  
    .active {
      right: 0;
      z-index: 100;
      transition: 0.2s ease;
    }
  }
  
  @media screen and (max-width: 480px) {
    a.nav-link {
      padding: 0.75rem 0;
    }
  }